In [1]:
import pandas as pd

In [2]:
tr = 'eng_1-10_multi/IMDB_train.csv'
te = 'eng_1-10_multi/IMDB_test.csv'

tr1 = 'under_multi/IMDB_train_1.csv'
tr2 = 'under_multi/IMDB_train_2.csv'
newte = 'under_multi/IMDB_test.csv'

In [3]:
def undersample(tr, te, tr1, tr2, newte, decr=True):

    df_train = pd.read_csv(tr)
    df_test = pd.read_csv(te)

    if decr:
        df_train['star_label'] = df_train['star_label'].apply(lambda x: x - 1)
        df_test['star_label'] = df_test['star_label'].apply(lambda x: x - 1)

    class_0_train = df_train[df_train['star_label'] == 0]
    class_9_train = df_train[df_train['star_label'] == 9]
    train = df_train[(df_train['star_label'] != 9) & (df_train['star_label'] != 0)]

    class_0_train_1 = class_0_train[:2500]
    class_9_train_1 = class_9_train[:2500]
    class_0_train_2 = class_0_train[2500:]
    class_9_train_2 = class_9_train[2500:]

    train_1 = pd.concat([class_0_train_1, class_9_train_1, train], axis=0)
    train_2 = pd.concat([class_0_train_2, class_9_train_2, train], axis=0)

    csv1 = train_1.to_csv(tr1, index=False)
    csv3 = train_2.to_csv(tr2, index=False)
    csv4 = df_test.to_csv(newte, index=False)

    return train_1, train_2, df_test

In [4]:
t1, t2, test = undersample(tr, te, tr1, tr2, newte, decr=True)

In [5]:
t1

,review_text,star_label,binary_label,over_1,over_2,over_3,over_4,over_5,over_6,over_7,over_8,over_9
3,"Sorry everyone,,, I know this is supposed to b...",0,0,0,0,0,0,0,0,0,0,0
4,When I was little my parents took me along to ...,0,0,0,0,0,0,0,0,0,0,0
8,This film is mediocre at best. Angie Harmon is...,0,0,0,0,0,0,0,0,0,0,0
10,This film is one giant pant load. Paul Schrade...,0,0,0,0,0,0,0,0,0,0,0
14,This movie must be in line for the most boring...,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
24994,Life Stinks (1991) was a step below Mel Brooks...,6,1,1,1,1,1,1,1,0,0,0
24995,"Seeing as the vote average was pretty low, and...",8,1,1,1,1,1,1,1,1,1,0
24996,"The plot had some wretched, unbelievable twist...",7,1,1,1,1,1,1,1,1,0,0
24998,A Christmas Together actually came before my t...,7,1,1,1,1,1,1,1,1,0,0
24999,Working-class romantic drama from director Mar...,6,1,1,1,1,1,1,1,0,0,0

In [6]:
t2

,review_text,star_label,binary_label,over_1,over_2,over_3,over_4,over_5,over_6,over_7,over_8,over_9
6009,"In this strangely-lackadaisical apocalypse, th...",0,0,0,0,0,0,0,0,0,0,0
6011,This was quite possibly the worst movie I have...,0,0,0,0,0,0,0,0,0,0,0
6012,"A stuttering plot, uninteresting characters an...",0,0,0,0,0,0,0,0,0,0,0
6013,If you really enjoyed the 2002 Resident Evil m...,0,0,0,0,0,0,0,0,0,0,0
6022,This is just flat out unwatchable. If there's ...,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
24994,Life Stinks (1991) was a step below Mel Brooks...,6,1,1,1,1,1,1,1,0,0,0
24995,"Seeing as the vote average was pretty low, and...",8,1,1,1,1,1,1,1,1,1,0
24996,"The plot had some wretched, unbelievable twist...",7,1,1,1,1,1,1,1,1,0,0
24998,A Christmas Together actually came before my t...,7,1,1,1,1,1,1,1,1,0,0
24999,Working-class romantic drama from director Mar...,6,1,1,1,1,1,1,1,0,0,0

In [7]:
test

,review_text,star_label,binary_label,over_1,over_2,over_3,over_4,over_5,over_6,over_7,over_8,over_9
0,Once again Mr. Costner has dragged out a movie...,1,0,1,0,0,0,0,0,0,0,0
1,This is an example of why the majority of acti...,3,0,1,1,1,0,0,0,0,0,0
2,"First of all I hate those moronic rappers, who...",0,0,0,0,0,0,0,0,0,0,0
3,Not even the Beatles could write songs everyon...,2,0,1,1,0,0,0,0,0,0,0
4,Brass pictures (movies is not a fitting word f...,2,0,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
24995,I was extraordinarily impressed by this film. ...,7,1,1,1,1,1,1,1,1,0,0
24996,"Although I'm not a golf fan, I attended a snea...",9,1,1,1,1,1,1,1,1,1,1
24997,"From the start of ""The Edge Of Love"", the view...",7,1,1,1,1,1,1,1,1,0,0
24998,"This movie, with all its complexity and subtle...",9,1,1,1,1,1,1,1,1,1,1
24999,I've seen this story before but my kids haven'...,6,1,1,1,1,1,1,1,0,0,0

In [39]:
def make_multi(df_train, df_test, newtr, newte):

    labels = [
        'over_1',
        'over_2',
        'over_3',
        'over_4',
        'over_5',
        'over_6',
        'over_7',
        'over_8',
        'over_9'
    ]

    for i in range(9):
        df_train[labels[i]] = (df_train['star_label'] > i + 1).astype(int)
        df_test[labels[i]] = (df_test['star_label'] > i + 1).astype(int)

    csv1 = df_train.to_csv(newtr, index=False)
    csv2 = df_test.to_csv(newte, index=False)

    return df_train, df_test