In [1]:
import pandas as pd
import glob
from tqdm import tqdm

In [3]:
train_len, test_len = 25000, 25000

df_train = pd.DataFrame(columns=['review_text', 'star_label', 'binary_label'],
                        index=range(train_len))
df_test = pd.DataFrame(columns=['review_text', 'star_label', 'binary_label'],
                        index=range(test_len))

files_train_neg = glob.glob('aclImdb/train/neg/*.txt')
files_train_pos = glob.glob('aclImdb/train/pos/*.txt')

files_test_neg = glob.glob('aclImdb/test/neg/*.txt')
files_test_pos = glob.glob('aclImdb/test/pos/*.txt')

In [4]:
i = 0

for filepath in tqdm(files_train_neg):
    with open(filepath, 'r', encoding="utf-8") as f:
        star = int(filepath.split('_')[-1].split('.')[0]) - 1
        df_train.loc[i] = [f.read(), star, 0]
    i += 1

for filepath in tqdm(files_train_pos):
    with open(filepath, 'r', encoding="utf-8") as f:
        star = int(filepath.split('_')[-1].split('.')[0]) - 1
        df_train.loc[i] = [f.read(), star, 1]
    i += 1

100%|██████████| 12500/12500 [01:40<00:00, 124.22it/s]
100%|██████████| 12500/12500 [01:33<00:00, 133.84it/s]

In [5]:
df_train

,review_text,star_label,binary_label
0,Story of a man who has unnatural feelings for ...,2,0
1,Airport '77 starts as a brand new luxury 747 p...,3,0
2,This film lacked something I couldn't put my f...,3,0
3,"Sorry everyone,,, I know this is supposed to b...",0,0
4,When I was little my parents took me along to ...,0,0
...,...,...,...
24995,"Seeing as the vote average was pretty low, and...",8,1
24996,"The plot had some wretched, unbelievable twist...",7,1
24997,I am amazed at how this movie(and most others ...,9,1
24998,A Christmas Together actually came before my t...,7,1
24999,Working-class romantic drama from director Mar...,6,1

In [6]:
i = 0

for filepath in tqdm(files_test_neg):
    with open(filepath, 'r', encoding="utf-8") as f:
        star = int(filepath.split('_')[-1].split('.')[0]) - 1
        df_test.loc[i] = [f.read(), star, 0]
    i += 1

for filepath in tqdm(files_test_pos):
    with open(filepath, 'r', encoding="utf-8") as f:
        star = int(filepath.split('_')[-1].split('.')[0]) - 1
        df_test.loc[i] = [f.read(), star, 1]
    i += 1

100%|██████████| 12500/12500 [01:37<00:00, 127.99it/s]
100%|██████████| 12500/12500 [01:32<00:00, 135.53it/s]

In [7]:
df_test

,review_text,star_label,binary_label
0,Once again Mr. Costner has dragged out a movie...,1,0
1,This is an example of why the majority of acti...,3,0
2,"First of all I hate those moronic rappers, who...",0,0
3,Not even the Beatles could write songs everyon...,2,0
4,Brass pictures (movies is not a fitting word f...,2,0
...,...,...,...
24995,I was extraordinarily impressed by this film. ...,7,1
24996,"Although I'm not a golf fan, I attended a snea...",9,1
24997,"From the start of ""The Edge Of Love"", the view...",7,1
24998,"This movie, with all its complexity and subtle...",9,1
24999,I've seen this story before but my kids haven'...,6,1

In [8]:
csv1 = df_train.to_csv("IMDB_train.csv", index=False)
csv2 = df_test.to_csv("IMDB_test.csv", index=False)